@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir.ttf");
}
* {
  font-family: Vazir;
}
.header {
  background-color: #007fff;
  width: 100%;
  color: #f8f7f2;
  a {
    display: flex;
    align-items: center;
  }
  a h2 {
    margin-left: 10px;
    display: flex;
  }
}
.social-media-icons-div-header {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 60px;
  margin-bottom: 30px;
  // margin-top: 20px;
  a{
   padding: 10px;
  }
  a:hover {
    background-color: #0072e5;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition-duration: 0.15s;
  }
}
.img-header {
  display: block;
  overflow: hidden;
  border-radius: 9999px;
  width: 6rem;
}
.MUSTCHANGENAME {
  padding: 50px 10px 30px 50px;
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.nav-items {
  margin-right: 1.7rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.nav-items:hover {
  background-color: #0072e5;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition-duration: 0.15s;
}
.personal-info {
  height: 276px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #0d2240;
  color: white;
}
.img-main {
  overflow: hidden;
  border-radius: 9999px;
  width: 11rem;
  margin: 30px 10px 15px 10px;
}
.footer {
  div p {
    text-align: center;
    margin: 5rem 10rem 10rem 10rem;
    color: white;
  }
  div {
    text-align: center;
    background-color: black;
    display: block;
  }
}
.note {
  display: block;
  padding-bottom: 30px;
  background-color: #0f172a;
  div {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}
