.div-component-text {
  width: 4000px;
  a {
    color: #94a3b8;
  }
  h1 {
    color: white;
    display: block;
  }
  h2 {
    display: none;
  }
  p {
    color: #94a3b8;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  span {
    margin-inline-end: 0.2em;
  }
  .text-span-color {
    color: #94a3b8;
  }
  .fa-solid {
    color: #495468;
    margin: 0 0.2rem;
  }
}
.div-component-img {
  width: 115rem;
  display: block;
  border-radius: 8px;
  border-color: #1e293b;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}
.div-component-react {
  width: 60vw;
  align-items: center;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  flex-basis: auto;
}

@media screen and (max-width: 600px) {
  .div-component-react {
    flex-wrap: wrap; // make img to come under content
  }
  .div-component-text {
    p {
      margin-top: 9px;
      font-size: 18px;
      color: #94a3b8;
    }
    h1 {
      display: none;
    }
    h2 {
      display: block;
      color: white;
    }
    a {
      font-size: 14px;
      color: #94a3b8;
    }
  }
  .div-component-react {
    width: 92vw;
    align-items: center;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    flex-basis: auto;
  }
}
