.div-component-text {
  h1 {
    color: white;
    display: block;
  }
  p {
    color: #94a3b8;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  span {
    margin-inline-end: 0.2em;
  }
  .text-span-color {
    color: #94a3b8;
  }
  .fa-solid {
    color: #495468;
    margin: 0 0.2rem;
  }
}
.div-component-img {
  width: 115rem;
  display: block;
  border-radius: 8px;
  border-color: #1e293b;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  // display: block;
  // overflow: hidden;
  // border-radius: 9999px;
  // margin: 50px 10px 50px 50px;
}
.div-component-react {
  width: 60vw;
  align-items: center;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  flex-basis: auto;
}
